<div class="ui-g">
  <p-toast></p-toast>

  <p-fieldset>
    <p-header style="font-size: 25px">{{title}}</p-header>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-1">
        <span>Nome</span> &nbsp;
      </div>
      <div class="ui-g-12 ui-md-6">
        <input id="input_nome" type="text" size="30" pInputText [(ngModel)]="formulario.nome">
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-1">
        <span>Sobrenome</span> &nbsp;
      </div>
      <div class="ui-g-12 ui-md-6">
        <input id="input_sobrenome" type="text" size="30" pInputText [(ngModel)]="sobrenome">
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-1">
        <span>Phone</span> &nbsp;
      </div>
      <div class="ui-g-12 ui-md-6">
        <p-inputMask mask="99-99999999" [(ngModel)]="formulario.telefone" placeholder="99-99999999"></p-inputMask>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-1">
        <span>Como nos conheceu: </span> <br>
      </div>
      <div class="ui-g-12 ui-md-6">
        <p-dropdown [options]="listaContatos" [(ngModel)]="formulario.comoConheceu" optionLabel="contato" placeholder="selecione" [showClear]="true"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <span>Possui rede social: </span>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-radioButton name="group1" value="true" label="sim" [(ngModel)]="possuiredeSocial" (onClick)="setRedeSoccial(true)"></p-radioButton></div>
        <div class="ui-g-12"><p-radioButton name="group1" value="false" label="não" [(ngModel)]="possuiredeSocial" (onClick)="setRedeSoccial(false)"></p-radioButton></div>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="possuiredeSocial === 'true'">
      <span>Quais: </span>
      <div class="ui-g" style="width:250px;margin-bottom:10px" *ngFor="let redeSocial of listaRedeSocial">
        <div class="ui-g-12"><p-checkbox name="group1" [value]=redeSocial [label]="redeSocial.redeSocial" [(ngModel)]="formulario.tiposRedeSocial" ></p-checkbox></div>
      </div>
    </div>
    <div class="ui-g-12">
      <p-button label="Enviar" (onClick)="validarEnvio()" [disabled]="disableEnviar"></p-button>
    </div>
  </p-fieldset>
</div>
